.ui.borderless.topmenu.container.menu {
  box-shadow: none;
  border: none;
  margin-top: 10px;
}

.murphysbackground{
  background-image: url("http://murphyshawaii.com/media/2014/04/murphys-front.jpg");
  height: 100%;
  color: white;
}

.green-background {
  background-color: green;
  padding-top: 20px;
  color: white;
  height: 200px;
}